body{
  background:url(https://cdn.vectorstock.com/i/500p/31/62/set-3d-clouds-vector-38673162.jpg);
  height:100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  border:1px solid white;
  background-color: white;
  opacity: 0.5;
  min-width:220px;
  height:200px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  text-align: center;
}

.city-name{
  margin-top:20px;
}

.faren{
  font-size: small;
}

.button-area button{
  width:70px;
  height:70px;
  border-radius: 70px;
  margin:10px;
  opacity: 0.8;
  font-size:11px;
}

@media only screen and (max-width: 600px) {
  .button-area button{
    width:90vw;
    font-size: large;
  }
  .weather-box{
    font-size: xx-large;
    width:100vw;
    height:300px;
    
  }
}